.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000; /* black background */
  padding: 20px 40px;
  color: #fff;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  height: 70px;
  width: auto;
}

.site-title {
  font-size: 2rem;      /* make it big */
  font-weight: 700;
  color: #fff;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 24px;
  font-size: 1rem;
  font-weight: 500;
}

.header-nav a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Source Code Pro', monospace;
  background-color: #0f0f0f;
  color: #e6e1e1;
  max-width: 800px;
  margin: 0 auto;
  padding: 0px 0px;
  line-height: 1.7;
}
h1, h2 {
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 0px;
}
img {
  display: block;
  margin: 40px auto;
  border-radius: 12px;
  max-width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
main {
    padding: 2em;
}
.centered-image {
  display: block;
  margin: 40px auto;
  max-width: 100%;
  width: 800px; /* Adjust this number as needed */
  height: auto;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}
