/* Logo on the left */
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #111;
}

/* Nav on the right */
.site-nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #ededed;
  font-weight: 500;
}

.site-nav a:hover {
  color: #91a89e;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: #bac3cc;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 20px;
  line-height: 1.7;
}

h1, h2 {
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-bottom: 20px;
}

img {
  display: block;
  margin: 40px auto;
  border-radius: 12px;
  max-width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
nav {
    background-color: #333;
    padding: 1em;
}

nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
}
.centered-image {
  display: block;
  margin: 40px auto;
  max-width: 100%;
  width: 800px; /* Adjust this number as needed */
  height: auto;
}
footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}
